<style>
    * {
        margin: 0;
        padding: 0;
    }

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "navbar navbar"
            "nav_btn nav_btn"
            "content content";
    }

    .nav-btn {
        grid-area: nav_btn;
    }

    .navbar {
        grid-area: navbar;
    }

    .sidebar {
        grid-area: sidebar;

    }

    .content {
        grid-area: content;
        max-height: 60vh;
        overflow-x: auto;
        overflow-y: auto;
    }

    .messages {
        position: absolute;
        display: grid;
        width: 300px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .messages p{
        text-align: center;
    }
    a {
        text-decoration: none;
    }

    table {
        max-height: 100vh;
        overflow-x: auto;
        overflow-y: auto;
    }
    @media screen and(max-width:568px){
        table{
        max-width: 100vh;

        }
    }
</style>