<style>
    * {
        margin: 0;
        padding: 0;
    }

    .container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "navbar navbar"
            "nav_btn nav_btn"
            "messages messages"
            "content content";
    }

    .nav-btn {
        grid-area: nav_btn;
    }

    .navbar {
        grid-area: navbar;
    }

    .sidebar {
        grid-area: sidebar;

    }

    .content {
        grid-area: content;
        max-height: 60vh;
        overflow-x: auto;
        overflow-y: auto;
    }

    .messages {
        grid-area: messages;

    }

    a {
        text-decoration: none;
    }

    table {
        max-height: 80vh;
        overflow-x: auto;
        overflow-y: auto;
    }
</style>