<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
  <!--Get your code at fontawesome.com-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
    integrity="sha512-aa+uHSAKdZ2vS3kxWUMq2HWCqAm3Dp7WHMiDpxdqY87vYuwBXliNWMu32PsTpFG02/D2UjaA5L6Zd4XA+Oe0jQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
    integrity="sha512-aa+uHSAKdZ2vS3kxWUMq2HWCqAm3Dp7WHMiDpxdqY87vYuwBXliNWMu32PsTpFG02/D2UjaA5L6Zd4XA+Oe0jQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>
  <nav class="nav navbar navbar-expand-lg bg-body-primary navbar fixed-top">
    <!-- <nav class="navbar navbar-expand-lg bg-body-tertinary navbar navbar-dark bg-primary navbar fixed-top bg-body-success"> -->
    <div class="container-fluid">
      <h4 class="title" href="#">Sunpride Nani</h4>
      <button class="navbar-toggler btn btn-warning" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'dashboard'%}"><i class="fa fa-tachometer "></i> Dashboard</a>
          </li>
          {% if request.session.status_login == 'Super Admin' %}

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'v_admins' %}"><i class="fa fa-users"></i> Admin</a>
          </li>
          {% endif %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-current="page"
              aria-expanded="false">
              Barang
            </a>
            <ul class="dropdown-menu mt-2 bg-success">

              <li><a class="dropdown-item" href="{% url 'v_databarang' %}"><i class="fa fa-product-hunt"></i> Data Barang</a></li>
              {% if request.session.status_login == 'Super Admin' %}
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'v_hargabarang' %}"><i class="fa fa-money"></i> Harga</a></li>
              <li><a class="dropdown-item" href="{% url 'detail_barang' %}"><i class="fa fa-info-circle"></i> Detail</a></li>
              {% endif %}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-current="page"
              aria-expanded="false">
              Supplier
            </a>
            <ul class="dropdown-menu mt-2 bg-success">
              <li><a class="dropdown-item" href="{% url 'v_datasupplier' %}"> <i class="fa fa-industry "></i> Data Supplier</a></li>
              <li><a class="dropdown-item" href="{% url 'v_barangsupplier' %}"><i class="fa fa-cubes"></i> Barang Supplier</a></li>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-current="page"
              aria-expanded="false">
              Customer
            </a>
            <ul class="dropdown-menu mt-2 bg-success">
              <li><a class="dropdown-item" href="{% url 'v_jeniscustomers' %}"><i class="fa fa-users"></i> Jenis Customer</a></li>
              <li><a class="dropdown-item" href="{% url 'v_customers'%}"><i class="fa fa-vcard"></i> Data Customer</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-current="page"
              aria-expanded="false">
              Operasional
            </a>
            <ul class="dropdown-menu mt-2 bg-success">
              <li><a class="dropdown-item" href="{% url 'v_sopir' %}"><i class="fa fa-car"></i> Data Sopir
                </a></li>
              <li><a class="dropdown-item" href="{% url 'v_operasional'%}"><i class="fa fa-ship"></i> Operasional
                </a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-current="page"
              aria-expanded="false">
              Transaksi
            </a>
            <ul class="dropdown-menu mt-2 bg-success">
              <li><a class="dropdown-item" href="{% url 'v_salestransactions'%}"><i class="fa fa-calculator"></i>
                  Transaksi Penjualan</a></li>
              <li><a class="dropdown-item" href="{% url 'v_transaksipembelian' %}"><i class="fa fa-shopping-cart"></i>
                Transaksi Pembelian</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-current="page"
              aria-expanded="false">
              Report
            </a>
            <ul class="dropdown-menu mt-2 bg-success">
              <li><a class="dropdown-item" href="{% url 'hutang_piutang'%}">Laporan Hutang Piutang</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-current="page"
              aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu mt-2 bg-success">
              {% if request.session.status_login == 'Super Admin' %}
              <li><a class="dropdown-item" href="{% url 'profile_superadmin' %}"><i class="fa fa-user"></i> Profil</a>
              </li>
              <li><a class="dropdown-item" href="{% url 'v_retail' %}"><i class="fa fa-building"></i> Retail</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>

</html>


<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

  .nav {
    background-color: #1C8047;
  }

  .nav a {
    color: #ffffff;
  }

  .nav-item {
    color: #ffffff;
  }

  .title {
    font-family: 'Poppins', sans-serif;
    color: #FFF70A;
    margin: auto 0;
  }
</style>