<nav class="nav navbar navbar-expand-lg bg-body-primary navbar fixed-top">
  <!-- <nav class="navbar navbar-expand-lg bg-body-tertinary navbar navbar-dark bg-primary navbar fixed-top bg-body-success"> -->
  <div class="container-fluid">
    <h4 class="title" href="#">Sunpride Nani</h4>
    <button class="navbar-toggler btn btn-warning" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'dashboard'%}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'v_admins' %}">Admin</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-current="page"
            aria-expanded="false">
            Barang
          </a>
          <ul class="dropdown-menu mt-2 bg-success">
            <li><a class="dropdown-item" href="{% url 'v_satuanbarang' %}">Satuan Barang</a></li>
            <li><a class="dropdown-item" href="{% url 'v_kelompokbarang' %}">Kelompok Barang</a></li>
            <li><a class="dropdown-item" href="{% url 'v_gudang' %}">Gudang</a></li>
            <li><a class="dropdown-item" href="{% url 'v_jenisbarang'%}">Jenis Barang</a></li>
            <li><a class="dropdown-item" href="{% url 'v_databarang' %}">Data Barang</a></li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'v_stokbarang' %}">Stok Barang</a></li>
            <li><a class="dropdown-item" href="{% url 'v_hargabarang' %}">Harga Barang</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-current="page"
            aria-expanded="false">
            Supplier
          </a>
          <ul class="dropdown-menu mt-2 bg-success">
            <li><a class="dropdown-item" href="#">Data Supplier</a></li>
            <li><a class="dropdown-item" href="#">Barang Supplier</a></li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-current="page"
            aria-expanded="false">
            Customer
          </a>
          <ul class="dropdown-menu mt-2 bg-success">
            <li><a class="dropdown-item" href="#">Data Customer</a></li>
            <li><a class="dropdown-item" href="#">Jenis Customer</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Data Sopir</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-current="page"
            aria-expanded="false">
            Transaksi
          </a>
          <ul class="dropdown-menu mt-2 bg-success">
            <li><a class="dropdown-item" href="#">Transaksi Penjualan</a></li>
            <li><a class="dropdown-item" href="#">Transaksi Pembelian</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-current="page"
            aria-expanded="false">
            Report
          </a>
          <ul class="dropdown-menu mt-2 bg-success">
            <li><a class="dropdown-item" href="#">Laporan Transaksi Penjualan</a></li>
            <li><a class="dropdown-item" href="#">Laporan Transaksi Pembelian</a></li>
            <li><a class="dropdown-item" href="#">Laporan Hutang Piutang</a></li>

          </ul>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

  .nav {
    background-color: #1C8047;
  }

  .nav a {
    color: #ffffff;
  }

  .nav-item {
    color: #ffffff;
  }

  .title {
    font-family: 'Poppins', sans-serif;
    color: #FFF70A;
    margin: auto 0;
  }
</style>