<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'componens/bootstrapt.html' %}
    {% include 'componens/grid_index.html'%}
    <title>detail barang</title>
</head>

<body>
    <div class="container">
        <div class="navbar mb-5">
            {% include 'componens/navbar.html' %}
        </div>
        <div class="messages">
            {% include 'componens/messages.html'%}
        </div>
        <br>
        <br>
        <br>
        <div class="nav-btn">
            <h5 class="text-success mt-4 mb-4">DETAIL BARANG</h5>
            <a href="{% url 'detail_barang_excel' %}"><button class="btn btn-success">
                    Excel
                    <i class="fa fa-file-excel-o"></i>
                </button>
            </a>
        </div>
        <div class="content">
            <table id="dataTable" class="table table-success mt-2 table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Kode</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Kelompok</th>
                        <th scope="col">Jenis</th>
                        <th scope="col">Satuan</th>
                        <th scope="col">Tanggal Expire</th>
                        <th scope="col">Stok</th>
                        <th scope="col">Gudang</th>
                        <th scope="col">Harga</th>
                        <th scope="col">PPN</th>
                        <th scope="col">Diskon</th>


                    </tr>
                </thead>
                <tbody>
                    {% for t in merged_data %}
                    <tr class="table-light">
                        <td>{{t.kode_barang}}</td>
                        <td>{{t.nama_barang}}</td>
                        <td>{{t.kelompok_barang}}</td>
                        <td>{{t.jenis_barang}}</td>
                        <td>{{t.satuan_barang_small}}</td>
                        <td>{{t.tgl_expire_barang}}</td>
                        <td>{{t.stok_satuan_small}}</td>
                        <td>{{t.nama_gudang}}</td>
                        <td>{{t.harga_satuan_small}}</td>
                        <td>{{t.ppn_barang}} %</td>
                        <td>Rp. {{t.diskon_barang}}</td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</body>

</html>