<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'componens/bootstrapt.html' %}
    {% include 'componens/grid_index.html'%}
    <title>data barang</title>
</head>

<body>
    <div class="container">
        <div class="navbar mb-5">
            {% include 'componens/navbar.html' %}
        </div>
        <div class="messages">
            {% include 'componens/messages.html'%}
        </div>
        <br>
        <br>
        <br>
        <div class="content">
            <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#add-modal">
                Tambah <i class="fa fa-plus-circle"></i>
            </button>
            <div class="modal fade" id="add-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Data Barang</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'post_add_databarang' %}" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="" class="form-label">Masukkan Kode Barang</label>
                                    <input type="text" class="form-control" name="kode_barang" id="kode_barang"
                                        aria-describedby="emailHelp" maxlength="20" required>
                                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Masukkan Nama Barang</label>
                                    <input type="text" class="form-control" name="nama_barang" id="nama_barang"
                                        aria-describedby="emailHelp" maxlength="50" required>
                                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                                </div>

                                <label class="form-label">Kelompok Barang</label>
                                <select class="form-select mb-3" name="kelompok_barang" id="kelompok_barang"
                                    aria-label="Default select example">
                                    <option value="-">-</option>
                                    {% for t in data_kelompokbarang %}
                                    <option value="{{t.nama_kelompok}}">{{t.nama_kelompok}}</option>
                                    {% endfor %}
                                </select>

                                <label class="form-label">Jenis Barang</label>
                                <select class="form-select mb-3" name="jenis_barang" id="jenis_barang"
                                    aria-label="Default select example">
                                    <option value="-">-</option>
                                    {% for t in data_jenisbarang %}
                                    <option value="{{t.nama_jenis}}">{{t.nama_jenis}}</option>
                                    {% endfor %}
                                </select>

                                <label class="form-label">Satuan Barang Kecil</label>
                                <select class="form-select mb-3" name="satuan_barang_small" id="satuan_barang_small"
                                    aria-label="Default select example">
                                    <option value="-">-</option>
                                    {% for t in data_satuanbarang %}
                                    <option value="{{t.nama_satuan}}">{{t.nama_satuan}}</option>
                                    {% endfor %}
                                </select>

                                <label class="form-label">Satuan Barang Sedang</label>
                                <select class="form-select mb-3" name="satuan_barang_medium" id="satuan_barang_medium"
                                    aria-label="Default select example">
                                    <option value="-">-</option>
                                    {% for t in data_satuanbarang %}
                                    <option value="{{t.nama_satuan}}">{{t.nama_satuan}}</option>
                                    {% endfor %}
                                </select>

                                <label class="form-label">Satuan Barang Besar</label>
                                <select class="form-select mb-3" name="satuan_barang_large" id="satuan_barang_large"
                                    aria-label="Default select example">
                                    <option value="-">-</option>
                                    {% for t in data_satuanbarang %}
                                    <option value="{{t.nama_satuan}}">{{t.nama_satuan}}</option>
                                    {% endfor %}
                                </select>

                                <div class="mb-3">
                                    <label for="" class="form-label">Tanggal Expire Barang</label>
                                    <input type="date" class="form-control" name="tgl_expire_barang"
                                        id="tgl_expire_barang" aria-describedby="emailHelp" maxlength="50" required>
                                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                                </div>

                                <div class="mb-3">
                                    <label for="" class="form-label">Timestamp</label>
                                    <input type="datetime" class="form-control" name="timestamp" id="timestamp"
                                        aria-describedby="emailHelp" maxlength="50" value="{% now 'Y-m-d H:i:s' %}"
                                        readonly>
                                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                                </div>

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Simpan <i class="fa fa-save"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-success mt-2 table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Kode</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Kelompok</th>
                        <th scope="col">Jenis</th>
                        <th scope="col">Satuan Kecil</th>
                        <th scope="col">Satuan Sedang</th>
                        <th scope="col">Satuan Besar</th>
                        <th scope="col">Tanggal Expire</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Aksi</th>

                    </tr>
                </thead>
                <tbody>
                    {% for t in data_barang %}
                    <tr class="table-light">
                        <th>{{t.kode_barang}}</th>
                        <td>{{t.nama_barang}}</td>
                        <td>{{t.kelompok_barang}}</td>
                        <td>{{t.jenis_barang}}</td>
                        <td>{{t.satuan_barang_small}}</td>
                        <td>{{t.satuan_barang_medium}}</td>
                        <td>{{t.satuan_barang_large}}</td>
                        <td>{{t.tgl_expire_barang}}</td>
                        <td>{{t.timestamp}}</td>
                        <td>
                            <a href="{% url 'update_databarang' t.kode_barang %}" class="btn btn-success mb-1">
                                <i class="fa fa-pencil-square"></i>
                            </a>
                            <a onclick="return confirm('apakah anda ingin menghapus data barang {{t.nama_barang}} ?')"
                                href="{% url 'delete_databarang' t.kode_barang %}" class="btn btn-success mb-1">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>