<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'componens/bootstrapt.html' %}
    {% include 'componens/grid_index.html'%}
    <title>Operasional</title>
</head>

<body>
    <div class="container">
        <div class="navbar mb-5">
            {% include 'componens/navbar.html' %}
        </div>
        <div class="messages">
            {% include 'componens/messages.html'%}
        </div>
        <br>
        <br>
        <br>
        <div class="nav-btn">
            <button type="button" class="add-btn btn btn-primary mt-3" data-bs-toggle="modal"
                data-bs-target="#add-modal">
                Tambah <i class="fa fa-plus-circle"></i>
            </button>
        </div>
        <div class="content">
            <div class="modal fade" id="add-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Stok Barang</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'post_add_operasional' %}" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="" class="form-label">Kode Operasional</label>
                                    <input type="text" class="form-control" name="kode_operasional"
                                        id="kode_operasional" aria-describedby="emailHelp" maxlength="20" required>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Lokasi Awal</label>
                                    <input type="text" class="form-control" name="lokasi_awal"
                                        id="lokasi_awal" aria-describedby="emailHelp" maxlength="20" required>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Lokasi Tujuan</label>
                                    <input type="text" class="form-control" name="lokasi_tujuan"
                                        id="lokasi_tujuan" aria-describedby="emailHelp" maxlength="20" required>
                                </div>
                                <label class="form-label">Jenis Transportasi</label>
                                <select class="form-select mb-3" name="jenis_transportasi" id="jenis_transportasi"
                                    aria-label="Default select example">
                                    <option value="-">-</option>
                                    <option value="Motor">Motor</option>
                                    <option value="Mobil">Mobil</option>
                                    <option value="Truk">Truk</option>
                                    <option value="Kapal">Kapal</option>
                                    <option value="Pesawat">Pesawat</option>
                                    <option value="Lainnya">Lainnya</option>
                                </select>
                                <div class="mb-3">
                                    <label for="form-label" class="form-label">Timestamp</label>
                                    <input type="datetime" class="form-control" name="timestamp" id="timestamp"
                                        aria-describedby="emailHelp" maxlength="50" value="{% now 'Y-m-d H:i:s' %}"
                                        readonly>
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Simpan <i class="fa fa-save"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <table id="dataTable" class="table table-success mt-2 table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Kode Operasional</th>
                        <th scope="col">LokasiAwal</th>
                        <th scope="col">Lokasi Tujuan</th>
                        <th scope="col">Transportasi</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Aksi</th>

                    </tr>
                </thead>
                <tbody>
                    {% for t in data_operasional %}
                    <tr class="table-light">
                    <td>{{t.kode_operasional}}</td>
                    <td>{{t.lokasi_awal}}</td>
                    <td>{{t.lokasi_tujuan}}</td>
                    <td>{{t.jenis_transportasi}}</td>
                    <td>{{t.timestamp}}</td>

                    <td>
                        <a href="" class="btn btn-success mb-1">
                            <i class="fa fa-pencil-square"></i>
                        </a>
                        <a onclick="return confirm('apakah anda ingin menghapus jalur operasional {{t.kode_operasional}} ?')"
                            href="{% url 'delete_operasional' t.kode_operasional %}" class="btn btn-success mb-1">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>