<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'componens/bootstrapt.html' %}
    {% include 'componens/grid_index.html'%}
    <title>Document</title>
</head>
<body>
    <form action="{% url 'post_update_hargabarang' %}" method="POST">
        {% csrf_token %}
        <div class="d-grid gap-2 col-6 mx-auto mb-3">
            <h5 class="modal-title">Update Harga Barang</h5>
            <div class="mb-3">
                <label for="" class="form-label">Kode Harga</label>
                <input type="text" class="form-control" aria-label="kode_harga" aria-describedby="basic-addon1"
                    name="kode_harga" id="kode_harga" value="{{data_hargabarang.kode_harga}}" readonly>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Kode Barang</label>
                <input type="text" class="form-control" aria-label="kode_barang" aria-describedby="basic-addon1"
                    name="kode_barang" id="kode_barang" value="{{data_hargabarang.kode_barang}}" readonly>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Nama Barang</label>
                <input type="text" class="form-control" aria-label="nama_barang" aria-describedby="basic-addon1"
                    name="nama_barang" id="nama_barang" value="{{data_hargabarang.nama_barang}}" maxlength="50" required
                    readonly>
            </div>

            <div class="mb-3">
                <label for="" id="l_small" class="form-label">Harga Satuan Kecil</label>
                <input type="number" class="form-control" aria-label="harga_satuan_small" aria-describedby="basic-addon1"
                    name="harga_satuan_small" id="harga_satuan_small" value="{{data_hargabarang.harga_satuan_small}}"
                    maxlength="50" required>
            </div>

            <!-- <div class="mb-3">
                <label for="" id="l_medium" class="form-label">Harga Satuan Sedang</label>
                <input type="text" class="form-control" aria-label="harga_satuan_medium" aria-describedby="basic-addon1"
                    name="harga_satuan_medium" id="harga_satuan_medium" value="{{data_hargabarang.harga_satuan_medium}}"
                    maxlength="50" required>
            </div>

            <div class="mb-3">
                <label for="" id="l_large" class="form-label">Harga Satuan Besar</label>
                <input type="number" class="form-control" aria-label="harga_satuan_large" aria-describedby="basic-addon1"
                    name="harga_satuan_large" id="harga_satuan_large" value="{{data_hargabarang.harga_satuan_large}}"
                    maxlength="50" required>
            </div> -->

            <div class="form-check form-switch mb-3">
                <input name="ppn_barang" class="form-check-input" type="checkbox" id="ppn_barang">
                <label class="form-check-label" for="ppn_barang">PPN (11%)</label>
                <input type="hidden" name="ppn_barang" id="ppn_barang2" value="0">
            </div>
            <div class="mb-3">
                <label for="" id="l_large" class="form-label">Diskon</label>
                <input type="number" class="form-control" aria-label="diskon_barang" aria-describedby="basic-addon1"
                    name="diskon_barang" id="diskon_barang" value="{{data_hargabarang.diskon_barang}}"
                    maxlength="50" required>
            </div>


            <div class="mb-3">
                <label for="" class="form-label">Timestamp</label>
                <input type="text" class="form-control" aria-label="timestamp" aria-describedby="basic-addon1"
                    name="timestamp" id="timestamp" value="{% now 'Y-m-d H:i:s' %}" maxlength="20" required>
            </div>
        </div>

        </div>
        <a href="">
            <div class="d-grid gap-2 col-4 mx-auto mb-3">
                <button type="submit" class="btn btn-success">Simpan</button>
            </div>
        </a>
        <a href="{% url 'v_hargabarang'%}">
            <div class="d-grid gap-2 col-4 mx-auto mb-5">
                <button type="button" class="btn btn-secondary">Kembali</button>
            </div>
        </a>
        </div>
    </form>
</body>
</html>
<script>
    /*mengisi input otomatis ketika option selected*/
    function displaySelectedValue() {
        let selectedValue = document.getElementById("nama_barang").value;
        let space = 0 + " ";
        let valuesArray = selectedValue.split(',');
        document.getElementById("l_small").textContent = "Harga Satuan (" + valuesArray[1] + ")";
        document.getElementById("l_medium").textContent = "Harga Satuan (" + valuesArray[2] + ")";
        document.getElementById("l_large").textContent = "Harga Satuan (" + valuesArray[3] + ")";
        document.getElementById("kode_barang").value = valuesArray[4];
    }
    /*jika di swithces maka akan mengubah nilai ppn_barang*/
    $(document).ready(function () {
        let switchValue = document.getElementById("ppn_barang");
        $('#ppn_barang').change(function () {
            if ($(this).prop('checked')) {
                switchValue.value = 11;
            } else {
                switchValue.value = 0;
            }
           document.getElementById("ppn_barang2").value = switchValue.value;
        });
    });
</script>