<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'componens/bootstrapt.html' %}
    {% include 'componens/grid_index.html'%}
    <title>kelompok Barang</title>

</head>

<body>
    <div class="container">
        <div class="navbar mb-5">
            {% include 'componens/navbar.html' %}
        </div>
        <div class="messages">
            {% include 'componens/messages.html'%}
        </div>
        <br>
        <br>
        <br>
        <div class="nav-btn">
            <a href="{% url 'hutang_piutang'%}">
                <button class="btn btn-warning"><i class="fa fa-hourglass-start "></i> Piutang</button>
            </a>
            <a href="{% url 'hutang_to_supp' %}">
                <button class="btn btn-danger"><i class="fa fa-money"></i> Hutang</button>
            </a>

            <h5 class="text-success mt-4 mb-4">HUTANG</h5>
            <p>Hutang ke supplier, dapat di bayar !</p>
            <div class="ms-4 col-4">
                <label for="customers_option">Filter <i class="fa fa-filter"></i></label>
                <select class="form-select  mb-3" name="customers_option" id="customers_option"
                    onchange="applyFilter()">
                    <option value="all">Semua</option>
                    {% for t in data_supplier %}
                    <option value="{{t.nama_supplier}}">{{t.nama_supplier}}</option>
                    {% endfor %}
                </select>
                <p>Total Sisa Hutang: Rp. <span id="totalSisaTagihan">0</span></p>
            </div>
        </div>
        <div class="content">

            <table id="dataTable" class="table table-success mt-2 table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Kode Transaction</th>
                        <th scope="col">Supplier</th>
                        <th scope="col">Total Pembelian</th>
                        <th scope="col">Jenis Pembayaran</th>
                        <th scope="col">Total Pembayaran</th>
                        <th scope="col">Tagihan Awal</th>
                        <th scope="col">Sisa Tagihan</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Aksi</th>

                    </tr>
                </thead>
                <tbody>
                    {% for t in data_hutang %}
                    <tr class="table-light">
                        <th>{{t.kode_transaksi_pembelian}}</th>
                        <td>{{t.kode_supplier.nama_supplier}}</td>
                        <td>Rp. {{t.total_pembelian}}</td>
                        <td>{{t.jenis_pembayaran}}</td>
                        <td>{{t.total_pembayaran}}</td>
                        <td>Rp. {{t.tagihan_awal}}</td>
                        <td>{{t.sisa_tagihan}}</td>
                        <td>{{t.timestamp}}</td>
                        <td>
                            <a href="{% url 'bayar_hutang' t.kode_transaksi_pembelian%}"><button class="btn btn-success">
                                <i class="fa fa-credit-card"></i>
                            </button></a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

<script>
    function applyFilter() {
        var customerFilter = document.getElementById('customers_option').value;
        var rows = document.getElementById('dataTable').getElementsByTagName('tbody')[0].getElementsByTagName('tr');
        var totalSisaTagihan = 0;

        for (var i = 0; i < rows.length; i++) {
            var customerName = rows[i].getElementsByTagName('td')[0].innerHTML; // Ganti indeks sesuai dengan kolom nama pelanggan
            var sisaTagihan = parseFloat(rows[i].getElementsByTagName('td')[5].innerHTML); // Ganti indeks sesuai dengan kolom sisa tagihan

            if (customerFilter === 'all' || customerFilter === customerName) {
                rows[i].style.display = ''; // Reset display property to make it visible
                totalSisaTagihan += sisaTagihan;
            } else {
                rows[i].style.display = 'none';
            }
        }

        // Display or use the totalSisaTagihan as needed
        document.getElementById('totalSisaTagihan').textContent = totalSisaTagihan.toFixed(2);
    }
</script>

</html>