<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'componens/bootstrapt.html' %}
    {% include 'componens/grid_index.html'%}
    <title>Data Supplier</title>
</head>

<body>
    <div class="container">
        <div class="navbar mb-5">
            {% include 'componens/navbar.html' %}
        </div>
        <div class="messages">
            {% include 'componens/messages.html'%}
        </div>
        <br>
        <br>
        <br>
        <div class="content">
            <div class="modal fade" id="add-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Barang Supplier</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'post_add_barangsupplier' %}" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="" class="form-label">Masukan Nama Suppplier</label>
                                    <select class="form-select mb-3" name="kode_supplier" id="kode_supplier"
                                        aria-label="Default select example">
                                        <option value="-">-</option>
                                        {% for t in data_supplier %}
                                        <option value="{{t.kode_supplier}}">{{t.nama_supplier}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Masukan Nama Barang</label>
                                    <select class="form-select mb-3" name="kode_barang" id="kode_barang"
                                        aria-label="Default select example">
                                        <option value="-">-</option>
                                        {% for t in data_barang %}
                                        <option value="{{t.kode_barang}}">{{t.nama_barang}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Masukkan Quantity Satuan Small</label>
                                    <input type="text" class="form-control" name="quantity_satuan_small" id="quantity_satuan_small"
                                        aria-describedby="emailHelp" maxlength="50" required>
                                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Masukkan Quantity Satuan Medium</label>
                                    <input type="text" class="form-control" name="quantity_satuan_medium" id="quantity_satuan_medium"
                                        aria-describedby="emailHelp" maxlength="50" required>
                                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Masukkan Quantity Satuan Lerge</label>
                                    <input type="text" class="form-control" name="quantity_satuan_large" id="quantity_satuan_large"
                                        aria-describedby="emailHelp" maxlength="50" required>
                                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Satuan Harga Small</label>
                                    <input type="number" class="form-control" name="satuan_harga_small" id="satuan_harga_small"
                                        aria-describedby="emailHelp" maxlength="50" required>
                                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Satuan Harga Medium</label>
                                    <input type="number" class="form-control" name="satuan_harga_medium" id="satuan_harga_medium"
                                        aria-describedby="emailHelp" maxlength="50" required>
                                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Satuan Harga Large</label>
                                    <input type="number" class="form-control" name="satuan_harga_large" id="satuan_harga_large"
                                        aria-describedby="emailHelp" maxlength="50" required>
                                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Timestamp</label>
                                    <input type="datetime" class="form-control" name="timestamp" id="timestamp"
                                        aria-describedby="emailHelp" maxlength="50" value="{% now 'Y-m-d H:i:s' %}"
                                        readonly>
                                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                                </div>

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Simpan <i class="fa fa-save"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-btn">
                <button type="button" class="add-btn btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#add-modal">
                    Tambah <i class="fa fa-plus-circle"></i>
                </button>
            
                <a href="">
                    <button class="btn btn-success mt-3">
                        Excel <i class="fa fa-file-excel-o"></i>
                    </button>
                </a>
            </div>
            <table class="table table-success mt-2 table-bordered">
                <thead class="text-center">
                    <tr>
                        <th scope="col">Nama Barang</th>
                        <th scope="col">Nama Supplier</th>
                        <th scope="col">Quantity Satuan Small</th>
                        <th scope="col">Quantity Satuan Medium</th>
                        <th scope="col">Quantity Satuan Large</th>
                        <th scope="col">Satuan Harga Small</th>
                        <th scope="col">Satuan Harga Medium</th>
                        <th scope="col">Satuan Harga Large</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Aksi</th>

                    </tr>
                </thead>
                <tbody>
                    {% for t in data_barangsupplier %}
                    <tr class="table-light">
                        <td>{{t.kode_barang.nama_barang}}</td>
                        <th>{{t.kode_supplier.nama_supplier}}</th>
                        <td>{{t.quantity_satuan_small}}</td>
                        <td>{{t.quantity_satuan_medium}}</td>
                        <td>{{t.quantity_satuan_large}}</td>
                        <td>{{t.satuan_harga_small}}</td>
                        <td>{{t.satuan_harga_medium}}</td>
                        <td>{{t.satuan_harga_large}}</td>
                        <td>{{t.timestamp}}</td>
                        <td>
                            <a href="{% url 'update_barangsupplier' t.kode_supplier.kode_supplier %}" class="btn btn-success mb-1">
                                <i class="fa fa-folder"></i>
                            </a>
                            <a onclick="return confirm('apakah anda ingin menghapus data barang supplier {{t.kode_barang.nama_barang}} ?')"
                                href="{% url 'delete_barangsupplier' t.kode_supplier.kode_supplier %}" class="btn btn-success mb-1">
                                <i class="fa fa-trash-o"></i>
                            </a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
<script>
    /*jika di swithces maka akan mengubah nilai ppn_barang*/
    $(document).ready(function () {
        let switchValue = document.getElementById("status_aktif_supplier");
        $('#status_aktif_supplier').change(function () {
            if ($(this).prop('checked')) {
                switchValue.value = 'Y';
            } else {
                switchValue.value = 'T';
            }
            document.getElementById("status_aktif_supplier2").value = switchValue.value;
        });
    });
</script>