<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'componens/bootstrapt.html' %}
    {% include 'componens/grid_index.html'%}
    <title>Document</title>
</head>


<style>
    .select-box {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        border-radius: 5px;

    }

    h5 {
        text-align: center;
    }

    @media screen and (max-width:568px) {
        .select-box {
            grid-template-columns: 1fr;
        }

        td {

            min-width: 200px;
        }

        .td-nama-barang {
            min-width: 300px;

        }

        .medium-col {
            min-width: 100px;
        }
    }
</style>

<body>
    <div class="container">
        <div class="navbar mb-5">
            {% include 'componens/navbar.html' %}
        </div>
        <br>
        <br>
        <br>
        <div class="nav-btn">

            <h5 class="mb-3">Tambah Transaksi Penjualan</h5>
        </div>
        <div class="nav-btn">
            <form action="{% url 'post_add_salestransactions'%}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="select-box mb-3 bg-success p-3">
                    <div>
                        <label for="" class="form-label text-white">Nomor Transaksi</label>
                        <input type="text" class="form-control" name="kode_sales" id="kode_sales"
                            aria-describedby="emailHelp" maxlength="20" required readonly>
                    </div>
                    <div class="input-content">
                        <label for="" class="form-label text-white">Status</label>
                        <input type="text" class="form-control" name="status" id="status" aria-describedby="emailHelp"
                            maxlength="20" required readonly>
                    </div>
                    <div class="input-content">
                        <label for="" class="form-label text-white">Tanggal/Waktu</label>
                        <input type="text" class="form-control" aria-label="timestamp" aria-describedby="basic-addon1"
                            name="timestamp" id="timestamp" value="{%now 'Y-m-d H:i:s' %}" maxlength="20" required>
                    </div>
                </div>



                <div class="select-box">
                    <div class="select-content">
                        <label class="form-label">Pilih Customers</label>
                        <select class="form-select mb-3" name="nama_customers" id="nama_customers"
                            aria-label="Default select example">
                            <option value="-">-</option>
                            {% for t in data_customers %}
                            <option value="{{t.nama_customers}}">{{t.nama_customers}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="hidden" class="form-control" name="kode_sopir" value="Sopir1" id="kode_sopir"
                        aria-describedby="emailHelp" maxlength="20" required readonly>

                    <input type="hidden" class="form-control" name="kode_customers" value="customer1" id="kode_customer"
                        aria-describedby="emailHelp" maxlength="20" required readonly>

                    <div class="select-content">
                        <label class="form-label">Pilih Sopir</label>
                        <select class="form-select mb-3" name="nama_sopir" id="nama_sopir"
                            aria-label="Default select example">
                            <option value="-">-</option>
                            {% for t in data_sopir %}
                            <option value="{{t.nama_sopir}}">{{t.nama_sopir}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="select-content">
                        <label class="form-label">Tambah Barang</label>
                        <select onchange="displaySelectedValue()" class="form-select mb-3" id="nama_barang"
                            aria-label="Default select example">
                            <option value="-">-</option>
                            {% for t in data_mergebarang %}
                            <option
                                value="{{t.nama_barang}},{{t.kode_barang}},{{t.satuan_barang_small}},{{t.satuan_barang_medium}},{{t.satuan_barang_large}},{{t.harga_satuan_small}},{{t.harga_satuan_medium}},{{t.harga_satuan_large}}">
                                {{t.nama_barang}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <input type="hidden" name="" id="nama_barang_value" value="">
                <input type="hidden" id="hidden_table_data" name="nama_barang" value="">

                <div class="content">
                    <table class="table table-success mt-2 table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Kode</th>
                                <th scope="col">Nama</th>
                                <th scope="col">Satuan</th>
                                <th scope="col">Harga</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Harga Total</th>

                            </tr>
                        </thead>

                        <tbody id="myTableBody">

                        </tbody>
                    </table>

                    <button type="button" class="btn btn-primary" id="tombol_tambah">Tambah</button>

                    <table class="table table-success mt-2 table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Diskon</th>
                                <th scope="col">Biaya Pengiriman</th>
                                <th scope="col">TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input oninput="calculateTotal()" type="number" class="form-control"
                                        name="diskon_sales" aria-describedby="emailHelp" id="diskon_sales"
                                        maxlength="20" required>
                                </td>
                                <td>
                                    <input oninput="calculateTotal()" type="number" class="form-control"
                                        name="biaya_pengiriman" aria-describedby="emailHelp" id="biaya_pengiriman"
                                        maxlength="20" required>
                                </td>
                                <td>
                                    <input type="number" class="form-control" name="grand_total_sales"
                                        aria-describedby="emailHelp" id="grand_total_sales" maxlength="20" required
                                        readonly>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-success mt-2 table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Jenis Pembayaran</th>
                                <th scope="col">Total Pembayaran</th>
                                <th scope="col">Sisa Tagihan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select class="form-select mb-3" name="jenis_pembayaran" id="jenis_pembayaran"
                                        aria-label="Default select example">
                                        <option value="-">-</option>
                                        <option value="cash">CASH</option>
                                        <option value="transfer">TRANSFER</option>
                                    </select>
                                </td>
                                <td>
                                    <input oninput="calculateTotal()" type="number" class="form-control"
                                        name="total_pembayaran_sales" aria-describedby="emailHelp"
                                        id="total_pembayaran_sales" maxlength="20" required>
                                </td>
                                <td>
                                    <input type="number" class="form-control" name="sisa_tagihan"
                                        aria-describedby="emailHelp" id="sisa_tagihan" maxlength="20" required readonly>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="btn btn-success">Simpan</button>

            </form>

        </div>
    </div>
</body>

</html>

<script>
    //menghitung semua value
    function calculateTotal() {
        let diskonSales = document.getElementById("diskon_sales").value;
        let biayaPengiriman = document.getElementById("biaya_pengiriman").value;
        let totalPembayaran = document.getElementById("total_pembayaran_sales").value;

        diskonSales = parseFloat(diskonSales) || 0;
        biayaPengiriman = parseFloat(biayaPengiriman) || 0;

        let costDiskon = diskonSales + biayaPengiriman;
        let total = 0;

        let subTotalElements = document.querySelectorAll('[id^="sub_total_sales_"]');

        subTotalElements.forEach(function (element) {
            total += parseFloat(element.value) || 0;
        });

        let = grandTotal = document.getElementById('grand_total_sales').value = total - costDiskon;
        let sisaTagihan = document.getElementById('sisa_tagihan').value = grandTotal - totalPembayaran;
        let status = document.getElementById("status");


        if (sisaTagihan == 0) {
            status.value = "Lunas";
        } else {
            status.value = "Belum Lunas";
        }
    }
    let rowDataArray = []; // Variabel untuk menyimpan data dari setiap baris

    function displaySelectedValue() {
        let selectElement = document.getElementById("nama_barang");
        let selectedValue = selectElement.value;

        if (rowDataArray.indexOf(selectedValue) === -1) {
            // Jika nilai belum ada dalam array, tambahkan ke array
            rowDataArray.push(selectedValue);

            // Tampilkan nilai terpilih di dalam input
            document.getElementById("nama_barang_value").value = rowDataArray.join('|');

            // Buat dan tambahkan baris baru ke dalam tabel
            let valuesArray = selectedValue.split(',');
            let newRow = document.createElement("tr");
            let uniqueIdentifier = Date.now();
            newRow.innerHTML = `
                <td>
                    <input type="text" class="form-control" name="kode_barang[]" value="${valuesArray[1]}" aria-describedby="emailHelp" maxlength="20" required readonly>
                </td>
                <td class="td-nama-barang">
                    <input type="text" class="form-control" name="" value="${valuesArray[0]}" id="nama_barang_${uniqueIdentifier}" aria-describedby="emailHelp" maxlength="20" required readonly>
                </td>
                <td>
                    <select onchange="satuanSelectedValue(this, '${uniqueIdentifier}')" class="form-select mb-3" name="nama_satuan[]" id="nama_satuan_${uniqueIdentifier}" aria-label="Default select example">
                        <option value="-">-</option>
                        <option>${valuesArray[5]}</option>
                        <option>${valuesArray[6]}</option>
                        <option>${valuesArray[7]}</option>
                    </select>
                </td>
                <td>
                    <input type="number" class="form-control" name="harga_barang[]" id="harga_barang_${uniqueIdentifier}" aria-describedby="emailHelp" maxlength="20" required readonly>
                </td>
                <td>
                    <input oninput="subTotalSales(this, '${uniqueIdentifier}')" type="number" class="form-control" name="quantity_sales[]" id="quantity_sales_${uniqueIdentifier}" aria-describedby="emailHelp" maxlength="20" required>
                </td>
                <td>
                    <input type="number" class="form-control" name="sub_total_sales" id="sub_total_sales_${uniqueIdentifier}" aria-describedby="emailHelp" maxlength="20" required readonly>
                </td>
            `;

            document.getElementById("myTableBody").appendChild(newRow);
        }
    }

    // Mengumpulkan data dari setiap baris dan memperbarui input tersembunyi
    function updateHiddenInput() {
        let allRowData = [];
        let tableRows = document.querySelectorAll("#myTableBody tr");

        tableRows.forEach(row => {
            let rowData = [];
            row.querySelectorAll("input, select").forEach(input => {
                rowData.push(input.value);
            });
            allRowData.push(rowData.join('|'));
        });

        document.getElementById("hidden_table_data").value = allRowData.join(';');
    }

    // Menangani klik tombol "Tambah"
    function handleTambahButtonClick() {
        // Memperbarui input tersembunyi ketika tombol "Tambah" diklik
        updateHiddenInput();
    }

    // Menambahkan event listener pada tombol "Tambah"
    document.getElementById("tombol_tambah").addEventListener("click", handleTambahButtonClick);




    function satuanSelectedValue(selectElement, uniqueIdentifier) {
        let selectedValue2 = document.getElementById("nama_barang").value;
        let valuesArray = selectedValue2.split(',');
        let hargaInput = document.getElementById(`harga_barang_${uniqueIdentifier}`);
        let selectedValue = selectElement.value;
        let harga;

        switch (selectedValue) {
            case valuesArray[2]:
                harga = valuesArray[5];
                break;
            case valuesArray[3]:
                harga = valuesArray[6];
                break;
            case valuesArray[4]:
                harga = valuesArray[7];
                break;
            default:
                harga = 0;
        }
        hargaInput.value = harga;
        subTotalSales(document.getElementById(`quantity_sales_${uniqueIdentifier}`), uniqueIdentifier);


    }

    //menghitung nilai
    function subTotalSales(inputElement, uniqueIdentifier) {
        let quantity = inputElement.value;
        let hargaBarang = document.getElementById(`harga_barang_${uniqueIdentifier}`).value;

        quantity = parseFloat(quantity) || 0;
        hargaBarang = parseFloat(hargaBarang) || 0;

        let subTotalSales = hargaBarang * quantity;
        let subTotalElement = document.getElementById(`sub_total_sales_${uniqueIdentifier}`);
        subTotalElement.value = subTotalSales;
        calculateTotal();
    }

</script>


<script>
    // Panggil fungsi generateUniqueID() saat DOM selesai dimuat
    document.addEventListener('DOMContentLoaded', function () {
        generateUniqueID();
    });

    function generateUniqueID() {
        // Dapatkan objek Date untuk waktu saat ini
        var currentTime = new Date();

        // Atur zona waktu ke Asia/Jakarta
        currentTime.toLocaleString('en-US', { timeZone: 'Asia/Jakarta' });

        // Dapatkan komponen waktu
        var year = currentTime.getFullYear();
        var month = ('0' + (currentTime.getMonth() + 1)).slice(-2); // Tambahkan 1 karena bulan dimulai dari 0
        var day = ('0' + currentTime.getDate()).slice(-2);
        var hours = ('0' + currentTime.getHours()).slice(-2);
        var minutes = ('0' + currentTime.getMinutes()).slice(-2);
        var seconds = ('0' + currentTime.getSeconds()).slice(-2);

        // Format ID dengan komponen waktu
        var autoGeneratedID = 'TRA' + year + month + day + hours + minutes + seconds;

        // Set nilai ID pada elemen dengan ID "kode_sales"
        document.getElementById('kode_sales').value = autoGeneratedID;
    }
</script>