<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'componens/bootstrapt.html' %}
    <!-- {% include 'componens/grid_index.html'%} -->
    <title>update jenis barang</title>
</head>

<body>
    <form action="{% url 'post_update_jenisbarang' %}" method="POST">
        {% csrf_token %}
        <div class="d-grid gap-2 col-6 mx-auto mb-3">
            <h5 class="modal-title">Update Jenis Barang</h5>
            <div class="mb-3">
                <label for="" class="form-label">Kode Jenis Barang</label>
                <input type="text" class="form-control" aria-label="kode_jenis" aria-describedby="basic-addon1"
                    name="kode_jenis" id="kode_jenis" value="{{ data_jenisbarang.kode_jenis }}" readonly>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Edit Nama Jenis</label>
                <input type="text" class="form-control" aria-label="nama_jenis" aria-describedby="basic-addon1"
                    name="nama_jenis" id="nama_jenis" value="{{ data_jenisbarang.nama_jenis }}" maxlength="50"
                    required>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Timestamp</label>
                <input type="text" class="form-control" aria-label="timestamp" aria-describedby="basic-addon1"
                    name="timestamp" id="timestamp" value="{% now 'Y-m-d H:i:s' %}" maxlength="20" required>
            </div>
        </div>

        <a href="">
            <div class="d-grid gap-2 col-4 mx-auto mb-3">
                <button type="submit" class="btn btn-success">Simpan</button>
            </div>
        </a>
        <a href="{% url 'v_jenisbarang'%}">
            <div class="d-grid gap-2 col-4 mx-auto">
                <button type="button" class="btn btn-secondary">Kembali</button>
            </div>
        </a>
        </div>

    </form>
</body>

</html>