<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'componens/bootstrapt.html' %}
    {% include 'componens/grid_index.html'%}
    <title>customers</title>
</head>

<body>
    <div class="container">
        <div class="navbar mb-5">
            {% include 'componens/navbar.html' %}
        </div>
        <div class="messages">
            {% include 'componens/messages.html'%}
        </div>
        <br>
        <br>
        <br>
        <div class="nav-btn">
            <button type="button" class="add-btn btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#add-modal">
                Tambah <i class="fa fa-plus-circle"></i>
            </button>
        </div>
        <div class="content">
            
            <div class="modal fade" id="add-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Customers</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'post_add_customers' %}" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="" class="form-label">Kode Customer</label>
                                    <input type="text" class="form-control" name="kode_customers" id="kode_customers"
                                        aria-describedby="emailHelp" maxlength="20" required>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Nama Customer</label>
                                    <input type="text" class="form-control" name="nama_customers" id="nama_customers"
                                        aria-describedby="emailHelp" maxlength="50" required>
                                </div>

                                <label class="form-label">Jenis Customer</label>
                                <select class="form-select mb-3" name="jenis_customers" id="jenis_customers"
                                    aria-label="Default select example">
                                    <option value="-">-</option>
                                    {% for t in data_jeniscustomers %}
                                    <option value="{{t.nama_jenis_customers}}">{{t.nama_jenis_customers}}</option>
                                    {% endfor %}
                                </select>

                                <div class="mb-3">
                                    <label for="" class="form-label">Alamat</label>
                                    <input type="text" class="form-control" name="alamat_customers"
                                        id="alamat_customers" aria-describedby="emailHelp" maxlength="120" required>
                                </div>

                                <div class="mb-3">
                                    <label for="" class="form-label">Telepon / Wa</label>
                                    <input type="tlp" class="form-control" name="wa_customer" id="wa_customer"
                                        aria-describedby="emailHelp" maxlength="120" required>
                                </div>

                                <div class="mb-3">
                                    <label for="" class="form-label">Email</label>
                                    <input type="email" class="form-control" name="email_customers" id="email_customers"
                                        aria-describedby="emailHelp" maxlength="120" required>
                                </div>

                                <div class="mb-3">
                                    <label for="" class="form-label">Timestamp</label>
                                    <input type="datetime" class="form-control" name="timestamp" id="timestamp"
                                        aria-describedby="emailHelp" maxlength="50" value="{% now 'Y-m-d H:i:s' %}"
                                        readonly>
                                </div>

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Simpan <i class="fa fa-save"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <table id="dataTable" class="table table-success mt-2 table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Kode</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Jenis Customers</th>
                        <th scope="col">alamat</th>
                        <th scope="col">telepon/wa</th>
                        <th scope="col">email</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Aksi</th>

                    </tr>
                </thead>
                <tbody>
                    {% for t in data_customers %}
                    <tr class="table-light">
                        <th>{{t.kode_customers}}</th>
                        <td>{{t.nama_customers}}</td>
                        <td>{{t.jenis_customers}}</td>
                        <td>{{t.alamat_customers}}</td>
                        <td>{{t.wa_customer}}</td>
                        <td>{{t.email_customers}}</td>
                        <td>{{t.timestamp}}</td>
                        <td>
                            <a href="{% url 'update_customers' t.kode_customers %}" class="btn btn-success mb-1">
                                <i class="fa fa-pencil-square"></i>
                            </a>
                            <a onclick="return confirm('apakah anda ingin menghapus data customer {{t.nama_customers}} ?')"
                                href="{% url 'delete_customers' t.kode_customers%}" class="btn btn-success mb-1">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Panggil fungsi untuk menghasilkan ID otomatis saat DOM selesai dimuat
        generateUniqueID();
    });

    function generateUniqueID() {
        // Hitung jumlah baris (td) dalam tabel
        var rowCount = document.getElementById('dataTable').getElementsByTagName('tr').length;
        if (rowCount)

            // Buat ID dengan prefix "AD000" ditambah dengan jumlah baris
            var autoGeneratedID = 'CU000' + rowCount;

        // Set nilai ID pada elemen dengan ID "generatedID"
        document.getElementById('kode_customers').value = autoGeneratedID;
    }

    // Fungsi untuk menambahkan baris baru ke dalam tabel
    function addToTable() {
        var table = document.getElementById('dataTable');
        var row = table.insertRow(-1);
        var cell = row.insertCell(0);
    }
</script>