<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'componens/bootstrapt.html' %}
    {% include 'componens/grid_index.html'%}
    <title>admins</title>
</head>

<body>
    <div class="container">
        <div class="navbar mb-5">
            {% include 'componens/navbar.html' %}
        </div>
        <div class="messages">
            {% include 'componens/messages.html'%}
        </div>
        <br>
        <br>
        <br>

        <div class="content">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#add-modal">
                Tambah <i class="fa fa-plus-circle"></i>
            </button>
            <!-- Modal Add -->
            <div class="modal fade" id="add-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Admin</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'post_add_admins' %}" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="" class="form-label">Masukkan Kode</label>
                                    <input type="text" class="form-control" name="kode_admin" id="kode_admin"
                                        aria-describedby="emailHelp" maxlength="20" required>
                                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Masukkan Nama</label>
                                    <input type="text" class="form-control" name="nama_admin" id="nama_admin"
                                        aria-describedby="emailHelp" maxlength="50" required>
                                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Masukkan Password</label>
                                    <input type="text" class="form-control" name="password_admin" id="password_admin"
                                        aria-describedby="emailHelp" maxlength="50" required>
                                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Timestamp</label>
                                    <input type="datetime" class="form-control" name="timestamp" id="timestamp"
                                        aria-describedby="emailHelp" maxlength="50" value="{% now 'Y-m-d H:i:s' %}"
                                        readonly>
                                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div> -->
                                </div>

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Simpan <i class="fa fa-save"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-success mt-2 table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Kode Admin</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Password</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Aksi</th>

                    </tr>
                </thead>
                <tbody>
                    {% for t in data_admins %}
                    <tr class="table-light">
                        <th>{{t.kode_admin}}</th>
                        <td>{{t.nama_admin}}</td>
                        <td>{{t.password_admin}}</td>
                        <td>{{t.timestamp}}</td>
                        <td>
                            <a href="{% url 'update_admins' t.kode_admin %}" class="btn btn-success mb-1">
                                <i class="fa fa-pencil-square"></i>
                            </a>
                            <a onclick="return confirm('apakah anda ingin menghapus admin {{t.nama_admin}} ?')"
                                href="{% url 'delete_admins' t.kode_admin%}" class="btn btn-success mb-1">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
</body>

</html>