<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'componens/bootstrapt.html' %}
    {% include 'componens/grid_index.html'%}
    <title>Document</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;600;700&display=swap');

    * {
        margin: 0;
        padding: 0;
    }

    p {
        text-align: center;
        margin-top: 10px;
        font-family: 'Saira', sans-serif;
    }

    .content-dashboard {
        width: 90%;
        margin: 0 auto;
    }

    .card {
        border: none;
    }
</style>

<body>
    <div class="container-dashboard">
        <div class="navbar">
            {% include 'componens/navbar.html' %}
        </div>
        <div class="messages">
            {% include 'componens/messages.html'%}
        </div>
        <br>
        <br>
        <br>
        <div class="content-dashboard">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100 bg-success text-white">
                        <div class="card-body">
                            <h5 class="card-title">TOTAL TRANSAKSI HARI INI <i class="fa fa-history"></i></h5>
                            <p class="card-text fs-1">
                                {{jumlah_transaksi_hari_ini}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 bg-success text-white">
                        <div class="card-body">
                            <h5 class="card-title">JUMLAH BARANG <i class="fa fa-briefcase"></i></h5>
                            <p class="card-text fs-1">
                                {{total_data_barang}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 bg-success text-white">
                        <div class="card-body">
                            <h5 class="card-title">TOTAL PENJUALAN HARI INI <i class="fa fa-shopping-cart"></i></h5>
                            <p class="card-text fs-1">
                                Rp. {{total_penjualan_hari_ini}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</body>

</html>