<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'componens/bootstrapt.html' %}
    <title>Bayar Piutang</title>
</head>

<body>
    <form action="{% url 'post_bayar_piutang' %}" method="POST">
        {% csrf_token %}
        <div class="d-grid gap-2 col-6 mx-auto mb-3">
            <h5 class="modal-title">Bayar Piutang {{data_piutang.nama_customers}} </h5>
            <h6>Sisa Tagihan {{data_piutang.sisa_tagihan}}</h6>
            <div class="mb-3">
                <label for="" class="form-label">Kode Sales : {{data_piutang.kode_sales}}</label>
                <input type="hidden" class="form-control" aria-label="kode_sales" aria-describedby="basic-addon1"
                    name="kode_sales" id="kode_sales" value="{{data_piutang.kode_sales}}" readonly>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Bayar tagihan</label>
                <input type="number" class="form-control" aria-label="bayar_tagihan" aria-describedby="basic-addon1"
                    name="bayar_tagihan" id="bayar_tagihan" value="" required>
            </div>
            <a href="">
                <div class="d-grid gap-2 col-4 mx-auto mb-3">
                    <button type="submit" class="btn btn-success">Simpan</button>
                </div>
            </a>
            <a href="{% url 'hutang_piutang'%}">
                <div class="d-grid gap-2 col-4 mx-auto mb-5">
                    <button type="button" class="btn btn-secondary">Kembali</button>
                </div>
            </a>
        </div>
    </form>

</body>

</html>