<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'componens/bootstrapt.html' %}
    <title>update sopir</title>
</head>
<body>
    <form action="{% url 'post_update_sopir' %}" method="POST">
        {% csrf_token %}
        <div class="d-grid gap-2 col-6 mx-auto mb-3">
            <h5 class="modal-title">Update Data Sopir</h5>
            <div class="mb-3">
                <label for="" class="form-label">Kode Sopir</label>
                <input type="text" class="form-control" aria-label="kode_sopir" aria-describedby="basic-addon1"
                    name="kode_sopir" id="kode_sopir" value="{{ data_sopir.kode_sopir}} " readonly>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Nama sopir</label>
                <input type="text" class="form-control" aria-label="nama_sopir" aria-describedby="basic-addon1"
                    name="nama_sopir" id="nama_sopir" value="{{data_sopir.nama_sopir}}" maxlength="50" required>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Alamat</label>
                <input type="text" class="form-control" aria-label="alamat_sopir" aria-describedby="basic-addon1"
                    name="alamat_sopir" id="alamat_sopir" value="{{data_sopir.alamat_sopir}}" maxlength="50" required>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Telepon/Wa</label>
                <input type="tlp" class="form-control" aria-label="wa_sopir" aria-describedby="basic-addon1"
                    name="wa_sopir" id="wa_sopir" value="{{data_sopir.wa_sopir}}" maxlength="50" required>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Email</label>
                <input type="email" class="form-control" aria-label="email_sopir" aria-describedby="basic-addon1"
                    name="email_sopir" id="email_sopir" value="{{data_sopir.email_sopir}}" maxlength="50" required>
            </div>
            
            <div class="mb-3">
                <label for="" class="form-label">Timestamp</label>
                <input type="text" class="form-control" aria-label="timestamp" aria-describedby="basic-addon1"
                    name="timestamp" id="timestamp" value="{% now 'Y-m-d H:i:s' %}" maxlength="20" required>
            </div>
        </div>

        <a href="">
            <div class="d-grid gap-2 col-4 mx-auto mb-3">
                <button type="submit" class="btn btn-success">Simpan</button>
            </div>
        </a>
        <a href="{% url 'v_sopir'%}">
            <div class="d-grid gap-2 col-4 mx-auto mb-5">
                <button type="button" class="btn btn-secondary">Kembali</button>
            </div>
        </a>
        </div>
    </form>
</body>
</html>