<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'componens/bootstrapt.html' %}
    {% include 'componens/grid_index.html'%}
    <title>sopir</title>
</head>
<body>
    <div class="container">
        <div class="navbar mb-5">
            {% include 'componens/navbar.html' %}
        </div>
        <div class="messages">
            {% include 'componens/messages.html'%}
        </div>
        <br>
        <br>
        <br>
        <div class="nav-btn">
            <button type="button" class="add-btn btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#add-modal">
                Tambah <i class="fa fa-plus-circle"></i>
            </button>
        </div>
        <div class="content">
            <div class="modal fade" id="add-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah sopir</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'post_add_sopir' %}" method="POST">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="" class="form-label">Kode Sopir</label>
                                    <input type="text" class="form-control" name="kode_sopir" id="kode_sopir"
                                        aria-describedby="emailHelp" maxlength="20" required>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Nama Sopir</label>
                                    <input type="text" class="form-control" name="nama_sopir" id="nama_sopir"
                                        aria-describedby="emailHelp" maxlength="50" required>
                                </div>

                                <div class="mb-3">
                                    <label for="" class="form-label">Alamat</label>
                                    <input type="text" class="form-control" name="alamat_sopir"
                                        id="alamat_sopir" aria-describedby="emailHelp" maxlength="120" required>
                                </div>

                                <div class="mb-3">
                                    <label for="" class="form-label">Telepon / Wa</label>
                                    <input type="tlp" class="form-control" name="wa_sopir" id="wa_sopir"
                                        aria-describedby="emailHelp" maxlength="120" required>
                                </div>

                                <div class="mb-3">
                                    <label for="" class="form-label">Email</label>
                                    <input type="email" class="form-control" name="email_sopir" id="email_sopir"
                                        aria-describedby="emailHelp" maxlength="120" required>
                                </div>

                                <div class="mb-3">
                                    <label for="" class="form-label">Timestamp</label>
                                    <input type="datetime" class="form-control" name="timestamp" id="timestamp"
                                        aria-describedby="emailHelp" maxlength="50" value="{% now 'Y-m-d H:i:s' %}"
                                        readonly>
                                </div>

                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Simpan <i class="fa fa-save"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-success mt-2 table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Kode</th>
                        <th scope="col">Nama</th>
                        <th scope="col">alamat</th>
                        <th scope="col">telepon/wa</th>
                        <th scope="col">email</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Aksi</th>

                    </tr>
                </thead>
                <tbody>
                    {% for t in data_sopir %}
                    <tr class="table-light">
                        <th>{{t.kode_sopir}}</th>
                        <td>{{t.nama_sopir}}</td>
                        <td>{{t.alamat_sopir}}</td>
                        <td>{{t.wa_sopir}}</td>
                        <td>{{t.email_sopir}}</td>
                        <td>{{t.timestamp}}</td>
                        <td>
                            <a href="{% url 'update_sopir' t.kode_sopir %}" class="btn btn-success mb-1">
                                <i class="fa fa-pencil-square"></i>
                            </a>
                            <a onclick="return confirm('apakah anda ingin menghapus data sopir {{t.nama_sopir}} ?')"
                                href="{% url 'delete_sopir' t.kode_sopir %}" class="btn btn-success mb-1">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</body>
</html>